In [92]:
import os
import pygrib
import pandas as pd
directory = os.fsencode("./forcast")
dfs=[]
#columns=["date","feature","value"]
import datetime

for file in os.listdir(directory):
     filename = os.fsdecode(file)
     start = str(filename)[-8:-6]
     end = str(filename)[-5:-2]
     date = str(filename)[2:10]
     
        
     
     if not filename.endswith(".zip") and start=="00" and  not filename.endswith(".txt"): 
        date_date = datetime.datetime.strptime(date, '%Y%m%d')
        file_path=os.path.join(directory.decode("utf-8") , str(filename))
        grib = pygrib.open(file_path)
        msgs = grib.select()
        
        for i in range(0,50):
            value=msgs[i].values[120,197]

            #print(pd.DataFrame([[date_date,(start+"_"+end+"_"+str(i)),value]] ))           
            df2=pd.DataFrame([[date_date,(start+"_"+end+"_"+str(i)),value]],columns=["date","feature","value"])

            dfs.append(df2)
            #print(df)
        #print("lol")
        #print(start)
        #print(end)
        #print(date)
         
     else:
         continue
df=pd.concat(dfs,ignore_index=True)

In [93]:
df

            date    feature          value
0     2019-07-20   00_021_0     294.257006
1     2019-07-20   00_021_1     177.624232
2     2019-07-20   00_021_2       0.000000
3     2019-07-20   00_021_3       0.000000
4     2019-07-20   00_021_4       0.022732
...          ...        ...            ...
50595 2019-07-16  00_000_45      52.573651
50596 2019-07-16  00_000_46  101093.246826
50597 2019-07-16  00_000_47       0.000000
50598 2019-07-16  00_000_48       0.000000
50599 2019-07-16  00_000_49       0.000000

[50600 rows x 3 columns]

In [ ]:
#!sudo apt update  --yes
#!sudo apt install libeccodes-dev 
!sudo apt install python3-pip 
!sudo pip3 install numpy
!sudo pip3 install pyproj 
!sudo pip3 install pygrib

In [36]:
!ls forcast  | wc

    810     810   15726

In [65]:
import pickle
def save_data(df,file):   
    pickle.dump(df, open( file, "wb" ))

In [95]:
save_data(df,"./simulation.pkl")

In [94]:
df.head()

        date   feature       value
0 2019-07-20  00_021_0  294.257006
1 2019-07-20  00_021_1  177.624232
2 2019-07-20  00_021_2    0.000000
3 2019-07-20  00_021_3    0.000000
4 2019-07-20  00_021_4    0.022732